@model IEnumerable<HomeWork1.Models.VModels.Question>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Edit", "Questions"))
{
    @Html.AntiForgeryToken()

    <table class="table">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.QId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kind)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th></th>
            </tr>*@

        @{
            //這個名字要跟controller一致
            List<HomeWork1.Models.VModels.Question> qs = Model.ToList();
            for (int index = 0; index < qs.Count(); index++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(a => qs[index].QId)
                        @Html.HiddenFor(a => qs[index].Kind)
                        @Html.DisplayFor(a => qs[index].QId)
                    </td>
                    <td>
                        @Html.HiddenFor(a => qs[index].Topic)
                        @Html.DisplayFor(a => qs[index].Topic)
                    </td>
                    <td>
                        @{
                            //CheckBox 範例
                            @*for (int i = 0; i < qs[index].Options.Count(); i++)
                                {
                                    @Html.CheckBoxFor(a => qs[index].Options[i].OIsChecked);
                                    @Html.LabelFor(a => qs[index].Options[i].OValue);
                                }*@

                            for (int i = 0; i < qs[index].Options.Count(); i++)
                            {
                                @Html.RadioButtonFor(a => qs[index].Value, qs[index].Options[i].OValue)
                                @qs[index].Options[i].OValue
                            }

                            @*@foreach (var option in qs[index].Options)
                                {
                                    <input name="@qs[index].QId" id="@qs[index].QId" type="radio" value="@option.OValue" checked="@option.OIsChecked" />@option.OValue
                                }*@
                        }
                    </td>
                </tr>
            }
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}