@model IEnumerable<HomeWork1.Models.VModels.Question>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @foreach (var option in item.Options)
                {
                    <input name="@item.QId" id="@item.QId" type="radio" value="@option.Value" checked="@option.IsChecked" />@option.Value<br />
                }
            </td>
        </tr>
    }

</table>
